<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624193887326-24kjgeelfa170v2m8d2rdlmi6bdfu3v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624193887326-24kjgeelfa170v2m8d2rdlmi6bdfu3v2</string>
	<key>API_KEY</key>
	<string>AIzaSyBa9T2HvCONOPsh73oB3AvCu0UDKOH8REM</string>
	<key>GCM_SENDER_ID</key>
	<string>624193887326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messapps.rush</string>
	<key>PROJECT_ID</key>
	<string>rush-251716</string>
	<key>STORAGE_BUCKET</key>
	<string>rush-251716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624193887326:ios:1f4185c5e22c53aec1e8cf</string>
	<key>DATABASE_URL</key>
	<string>https://rush-251716.firebaseio.com</string>
</dict>
</plist>