//
//  ProdAppStore.xcconfig
//  Rush
//
//  Created by iChirag on 24/01/20.
//  Copyright © 2020 Messapps. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_IDENTIFIER=com.messapps.rush
BUILD_VERSION=1.0.1
BUILD_NUMBER=8
BUILD_TYPE=app-store

REST_API_BASE_PATH=https:/$()/api.rushapp.io/api/
REST_API_KEY=ru2sh1li1v309e12
