<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624193887326-c8d9ir4bhf15t0vpnj3gp157u3t65hck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624193887326-c8d9ir4bhf15t0vpnj3gp157u3t65hck</string>
	<key>API_KEY</key>
	<string>AIzaSyBa9T2HvCONOPsh73oB3AvCu0UDKOH8REM</string>
	<key>GCM_SENDER_ID</key>
	<string>624193887326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messapps.testing.Rush</string>
	<key>PROJECT_ID</key>
	<string>rush-251716</string>
	<key>STORAGE_BUCKET</key>
	<string>rush-251716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:624193887326:ios:b645898165b496a6c1e8cf</string>
	<key>DATABASE_URL</key>
	<string>https://rush-251716.firebaseio.com</string>
</dict>
</plist>
